<form method="POST" action="/settings/<%=username%>">
    <label for="password">Password:</label>
    <input type="password" name="password" id="password" required pattern="<%=passwordRegex%>">

    <br> <br>

    <label for="randomness">Use randomness:</label>
    <select name="randomness" id="randomness">
        <option value="true">True</option>
        <option value="false">False</option>
    </select>
    <small>If true then the images will render randomly. Or it will be in sequential oder.</small>

    <br><br>

    <label for="ttl">Refresh Frequency:</label>
    <small> How often you want your image/url to be refreshed.</small>
    <select name="ttl" id="ttl">
        <option value="0">Every request</option>
        <option value="60">Every min</option>
        <option value="3600">Every hour</option>
        <option value="86400">Every day</option>
        <option value="604800">Every week</option>
        <option value="2630000">Every Month</option>
    </select>
    <br><br>

    <label for="links">Links:</label>
    <small>Number of link limit is 2 to 200. Current number of links: <%= links.length %></small>
    <br>
    <small>To remove link - just replace any existing link with the link you want to be removed. More about this in FAQ
        section. </small>

    <div id="links-container">

        <% for (var i=0; i < links.length; i++) { %>
            <!-- <label for="link<%= i %>">Link <%= i+1 %>:</label> -->
            <input type="url" name="linksList" id="link<%= i %>" required value="<%= links[i] %>"
                maxlength="<%=  maxUrlLength %>" style="min-width: 95%  ;">
            <br>
            <% } %>
    </div>

    <button type="button" id="add-link">Add link</button>
    <br><br>



    <button type=" submit">Update</button>
</form>

<script>
    const addLinkButton = document.getElementById('add-link');
    const linksContainer = document.getElementById('links-container');

    addLinkButton.addEventListener('click', () => {
        const input = document.createElement('input');
        input.type = 'url';
        input.name = 'linksList';
        input.id = 'link' + linksContainer.getElementsByTagName('input').length;
        input.maxLength = "<%=  maxUrlLength %>"
        input.style.width = '100%'
        input.required = true;
        linksContainer.appendChild(input);
        const breakElement = document.createElement('br');
        linksContainer.appendChild(breakElement)
    });


    // based on ttl value, select the correct option
    const ttl = "<%= ttl  %>";
    const ttlElement = document.getElementById('ttl');
    const options = ttlElement.getElementsByTagName('option');
    for (var i = 0; i < options.length; i++) {
        if (options[i].value == ttl) {
            options[i].selected = true;
        }
    }

    // based on randomness, select the correct option
    const random = "<%= random  %>";
    const randomElement = document.getElementById('randomness');
    const options2 = randomElement.getElementsByTagName('option');
    for (var i = 0; i < options2.length; i++) {
        if (options2[i].value == random) {
            options2[i].selected = true;
        }
    }









</script>